/* ν—¤λ” */
  header {
    width: 100%;
    color: #fff;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .gnb {
    display: flex;
    width: 100%;
  }
  .gnb li {
    padding: 0 40px;
    font-size: 1.125em;
    font-weight: 500;
  }
  
  .language {
    display: flex;
    font-size: 0.875em;
  }
  .language li {
    padding: 0 10px;
    
  }
  .language li:nth-child(1) {
    border-right: 1px solid #5e5e5e;
  }
  .language li:nth-child(2) {
    border-right: 1px solid #5e5e5e;
  }
  .toggle {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 27px;
    display: none;
  }



  /* ν‘Έν„° */
footer {
    width: 100%;
    height: 320px;
    background-color: #2a2a2a;
    color: #fff;
  }
  .foot-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .top-wrap {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
    max-width: 1750px;
    width: 100%;
    border-bottom: 1px solid #515151;
  }
  
  
  .footer .foot-wrap .top-wrap ul {
    /* width: 467px; */
    display: flex;
    justify-content: space-between;
  }
  .footer .foot-wrap .top-wrap ul li:nth-child(1) {
    padding-left: 0;
  }
  .footer .foot-wrap .top-wrap ul li {
    font-weight: 400;
    padding: 0 20px;
    border-right: 1px solid #505050;
  }
  .footer .foot-wrap .top-wrap ul li:last-child {
    border-right: 0;
  }
  .official {
    margin-left: auto;
    /* margin-right: 146px; */
  }
  .channel {
    display: flex;
    align-items: center;
  }
  .channel p {
    margin-right: 10px;
  }
  .channel a {
    margin: 0 5px;
  }
  .naver {
    width: 30px; height: 30px;
  }
  
  .naver:nth-child(1) {
    border-radius: 5px;
  }
  
  /* .adress {
    width: calc(100% - 443px);
  } */
  .adress span:not(.bold) {
    color: #9E9E9E;
  }
  .adress .bold {
    font-weight: 500;
  }
  .bottom-wrap {
    max-width: 1750px;
    width: 100%;
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
  }
  
  
  footer .foot-wrap .bottom-wrap .family-site{
    width: 260px;
    height: 40px;
    box-sizing: border-box;
    background: #515151;
  }
  .combo-box {
    display: flex;
    align-items: center;
  }
  footer .foot-wrap .bottom-wrap .family-site .combo-box p, footer .fa-solid {
    line-height: 40px;
    padding-left: 14px;
  }
  footer .fa-caret-down {
    padding-left: 138px;
  }
  footer .foot-wrap .bottom-wrap {
    display: flex;
    align-items: flex-start;
  }
  
  small {
    color: #828282;
  }

  @media screen and (max-width : 1500px) {
    .navbar {
      flex-direction: column;
      align-items:center;
      gap: 10px
    }
    .gnb {
      display: none;
      flex-direction: column;
    }

    .gnb li {
      width: 100%;
      text-align: center;
    }

    .navbar .language {
      display: none;
      flex-direction: column;
    }
    .navbar .language li {
      border: 0;
    }
    .navbar_logo img {
      max-width: 100%;
    }

    .toggle {
      display: block;
    }
  }
  /* tablet */
  @media screen and (max-width : 960px) {
    footer {
      padding: 3rem 0 4rem;
      height: 100%;
    }
    .top-wrap {
      padding: 0 30px;
    }
    footer .foot-wrap .top-wrap {
      flex-direction: column;
      align-items: flex-start;
    }
    footer .foot-wrap .bottom-wrap {
      flex-direction: column;
      padding: 0 30px;
      margin-top: 110px;
    }
    .channel {
      padding-top: 30px;
    }

  }
  /* mobile */
  @media screen and (max-width : 480px) {
    footer {
      font-size: 12px;
    }
    footer .foot-wrap .top-wrap {
      flex-direction: column;
      align-items: flex-start;
    }
    
    footer .bottom-wrap .family-site  {
      flex-direction: column;
    }
    footer .top-wrap .official {
      display: none;
    }
    footer .foot-wrap .bottom-wrap {
      flex-direction: column;
      padding: 0 30px;
      margin-top: 110px;
    }
  }
