@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/* 초기화 */
* {
  margin: 0; padding: 0; box-sizing: border-box;
}
ul, ol, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
  width: 100%;
}
