@import url('https://webfontworld.github.io/sunn/SUIT.css');
body{ 
  font-family: 'SUIT';
  background: var(--main-bg-color);
}
:root {
  --main-bg-color: #2A395E;
}


/* main */

/* Swiper */
.swiper-wrapper .swiper-slide {
  width: 100%;
  height: 930px;
  overflow: hidden;
}
.swiper-wrapper .swiper-slide .slideimg {
  width: 100%; 
  height: 100vh;
  object-fit: cover;
}
.swiper-button-next::after,.swiper-button-prev::after{
  color: #2A3962;
}
.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid #a4a4a4;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #2A3962;
  opacity: 0.7;
  width: 25px;
  border-radius: 8px;
  border: 1px solid #a4a4a4;
}

.pop_game .pop_gamelist {
  display: flex;
  width: 75%;
}
.pop_game .pop_gamelist .gametit-wrap {
  flex-direction: column;
}
@media screen and (max-width: 1440px) {
  .pop_gamelist {
    flex-wrap: wrap;
  }
}



/* 버튼 */
.more {
  margin: 90px 0;
}
.more button {
  color: #fff;
  font-size: 22px;
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 40px;
  transition-property: color;
  transition-duration: 0.5s;
}
.more .more_btn {
  display: flex;
  width: 224px;
  height: 60px;
  padding: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: none;
  border-radius: 40px;
  border: 2px solid #fff;
  transition-property: background-color;
  transition-duration: 0.5s;
  cursor: pointer;
}
.more .more_btn:hover {
  background: #fff;
}
.more button:hover {
  color: var(--main-bg-color);
  font-weight: 400;
}



/* 섹션 타이틀 */
.pop_game .pop_tit {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 100px 0 20px;
}
.pop_game .pop_tit h2 {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news .news_tit {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 100px 0 20px;
}
.news .news_tit h3 {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.community .community_tit {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 100px 0 20px;
}
.community .community_tit h4 {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* 인기게임 섹션 */
.pop_game {
  /* height: 880px; */
  flex-shrink: 0;
}
.pop_game .pop_gamelist {
  display: flex;
  width: 75%;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}
.pop_game .pop_gamelist .gamelist {
  width: 345px;
  background: #1F2A44;
  border-radius: 20px;
  cursor: pointer;
}
.pop_game .pop_gamelist .gametit{
  height: 71px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.pop_game .pop_gamelist .gametit p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: #ACB7D4;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.pop_game .pop_gamelist .gametit p:hover {
  color: #fff;
}
.pop_gamelist .gamelist {
  overflow: hidden;
}
.pop_gamelist .game_img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.pop_gamelist .game_img img {
  width: 100%;
  transition: all 0.3s linear;
}
.pop_gamelist .game_img:hover img {
  transform: scale(1.2);
}
.gametit {
  z-index: 1;
}



/* 뉴스 섹션 */
.news {
  width: 100%;
  background: #162345;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.container {
  background: #162345;
  max-width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* place-items: center; */
}
.cont-wrap {
  display: flex;
  justify-content: center;
}
.cont-wrap:last-child {
  justify-content: normal;
}
.cont-img img {
  width: 100%;
  border-radius: 30px;
}
.container a>.first {
  display: flex;
  flex-direction: column;
}
.container a:first-child {
  grid-row: 1/span 2;
  /* padding: 0; */
}
.cont-wrap {
  /* max-width: 740px; */
  padding: 0;
}
.cont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cont>.date {
  padding-top: 10px;
}
.cont-wrap .cont p:nth-child(1) {
  padding-top: 15px;
  font-size: 1.625rem;
}
.sub {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 5px;
}
.container a {
  padding: 20px;
}
.cont-wrap .date {
  color: #9b9b9b;
}
.cont-wrap .cont p:first-child {
  font-size: 1.625rem;
}
.more:nth-child(2) {
  background-color: #162345;
  padding-bottom: 90px;
}
@media screen and (max-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .cont-wrap {
    display: flex;
    flex-direction: column;
  }
  .container .first .cont-img img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .sub {
    padding-left: 0;
  }
}




/* 커뮤니티 섹션 */
.community {
  /* height: 897px; */
  flex-shrink: 0;
}
.container-wrap {
  display: flex;
  width: 75%;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}
.community .container-wrap .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.community .container-wrap .content img {
  width: 100%;
  border-radius: 20px;
}
.community .container-wrap .content .content-tit {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
}
.community .container-wrap .content .content-detail {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  color: #b6bbd8;
}

@media screen and (max-width:1460px) {
  .community .container-wrap {
    flex-wrap: wrap;

  }
}